html {
  font-size: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

.game-board {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.field {
  background-color: #f1f3f5;
  height: 380px;
  width: 810px;
  background-size: 100%;
}

.fullScoreBoard {
  display: flex;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.inningLabel {
  display: flex;
}

.inningLabel p {
  padding: 2px;
  font-size: 30px;

  margin: 2px;
  width: 120px;
  text-align: center;
  border: 1px solid black;
}

.scoreboard {
  text-align: center;
}

.innings {
  display: flex;
  align-items: center;
}

.innings p {
  font-size: 15px;
  padding: 1px;
  margin: 2px;
  width: 40px;
  border: 1px solid black;
}
.awayScore {
  display: flex;
  align-items: center;
  margin-top: -10px;
}
.homeScore {
  display: flex;
  align-items: center;
  margin-top: -10px;
}
.homeScore p {
  text-align: center;
  padding: 1px;
  margin: 2px;
  font-size: 15px;
  width: 40px;
  border: 1px solid black;
}

.awayScore p {
  text-align: center;
  font-size: 15px;
  padding: 1px;
  margin: 2px;
  width: 40px;

  border: 1px solid black;
}

.outs,
.strikes,
.balls {
  border-radius: 50%;
  width: 5px !important;
  height: 5px !important;
}

.no-circle {
  border-color: #f1f3f5 !important;
  background-color: #f1f3f5 !important;
}

.info-label {
  width: 75px;
  border: none;
  font-size: 15px;
  text-align: left;
}

.bases-img {
  width: 20px;
  height: 20px;
  background: lightgrey;
  margin-left: 140px;
  /* Rotate */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  /* Rotate Origin */
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.bases-container {
  display: grid;
  grid-template-columns: 50px 50px;
  row-gap: 10px;
}

.active-stat {
  background-color: yellow;
}
section {
  margin-left: -100px;
}
.thirdBase {
  grid-column: 1;
  grid-row: 2;
  margin-top: -21px;
  margin-left: 140px;
}

.curInning {
  margin-left: 139px;
  margin-top: -5px;
  text-align: left;
}

.secondBase {
  margin-left: 157px;
  margin-top: 15px;
}
.firstBase {
  margin-top: -21px;
  grid-column: 2;
  grid-row: 2;
  margin-left: 125px;
}

.info {
  border: none !important;
  width: 5rem !important;
  text-align: left !important;
}

.scoreLog {
  display: grid;
  grid-template-columns: 10px 1fr 600px 1fr 1fr;
  width: 810px;
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid black;
}
.pbp {
  text-align: center;
  width: 810px;
  margin: 0 auto;
}
.scoreLogHeader {
  background-color: #f1f3f5;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.textAL {
  text-align: left;
}

.caret {
  width: 0;
  height: 0;

  border: 5px solid transparent;
}
.caret.down {
  border-top-color: grey;
  margin-top: 21px;
  margin-left: 18px;
}

.caret.up {
  border-bottom-color: grey;
  margin-top: 16px;
  margin-left: 18px;
}

td,
th {
  padding: 10px;
  text-align: right;
}

td:first-child,
th:first-child {
  text-align: left;
}

.playerStats {
  display: none;
}

#canvas1 {
  background-color: white;
  border: 3px solid black;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 250px;
}
